{% extends 'base.html' %}

{% block title %}
Все статьи на сайте
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Все статьи на сайте</h1>
        {% if article|length > 0 %}
            {% for element in article %}
            <div class="alert alert-secondary text-dark bg-opacity-25"><!--p-3 mb-2 bg-primary text-white"-->
                <h2>{{ element.title }}</h2>
                <p>{{ element.intro }}</p>
                <p><b>Дата:{{ element.date.date() }}</b></p>
                <a href="/articles/{{ element.id }}" class="btn btn-outline-dark">Подробнее</a>
            </div>
            {% endfor %}
        {% else %}
            <h1>На сайте нет статей</h1>
        {% endif %}
    </div>

{% endblock %}