{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<main class="container">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">Главная страница сайта</h1>
      <p class="lead my-3">На данном сайте вы можете найти интересные статьи о нас.</p>

    </div>
  </div>
    <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-dark">Интересно:</strong><br>
          <h3 class="mb-0">Лучшая статья</h3><br>
          <p class="card-text mb-auto">Переход к дополнительному контексту</p><br>
          <a href="/articles" class="stretched-link">Читать подробнее</a><br>
        </div>
      </div>
      <br>
    </div>
</main>
{% endblock %}

